<!-- Footer --> 
<nav class="navbar navbar-dark bg-dark mt-5" style="position: absolute; bottom: 5px; width: 100%" id="footer">
  <!-- LeftNav: Links --> 
  <ul class="nav mr-auto">
  	  <li class="nav-item">
  	  	<%= link_to 'Home', home_path %><span class="text-warning">&nbsp;::&nbsp;</span>
	  </li>
	  <li class="nav-item">
	    <%= link_to 'About Us', about_path %><span class="text-warning">&nbsp;::&nbsp;</span>
	  </li>
	  <li class="nav-item">
	    <%= link_to 'Contact Us', contact_path %><span class="text-warning">&nbsp;::&nbsp;</span>
	  </li>
	  <li class="nav-item">
	    <%= link_to 'Privacy Policy', privacy_path %>
	  </li>
  </ul>
  <!-- RightNav: Webmaster --> 
  <ul class="nav">
  	<li class="nav-item d-inline pt-1 text-warning">
  		Webmaster:
  	</li>
    <li class="nav-item d-inline">
	  <a class="nav-link pt-1" href="mailto:mkornyev@andrew.cmu.edu">Maksym Kornyev</a>
	</li>
	<li class="nav-item d-inline pt-1 text-warning">
  		&copy 2019
  	</li>
  </ul>
</nav>

