<%= render "partials/header" %>

<div class="container">
  <div class="row no-gutters">
    <!-- Logo --> 
    <div class="col-md-4 pl-3 pt-5">
      <figure class="figure">
          <img src="assets/main/logo.png" class="figure-img img-fluid rounded border" width='250px' alt="Logo">
          <figcaption class="figure-caption text-right">BakingFactory Enterprise</figcaption>
      </figure>
    </div>
  
    <!-- Content --> 
    <div class="col pt-5">
      <h4 class="text-left">Welcome to the BakingFactory front end!</h4><br>
      Explore our enterprise architecture using the links in the header.<br> Or, take a look at some more website information in the footer below. 
    </div>
  </div>
</div>

<%= render "partials/footer" %>