<%= render "partials/header" %>

<div class="container">
  <div class="row no-gutters">
    <div class="col pl-3 pt-5">

      <!-- Edit Pane --> 
      <h4 class="lead">New Standard Package Order: (1 Honey Wheat, 1 Cinammon Swirl, 1 Sourdough Bread, and 1 Dozen Blueberry Muffins)</h4><br>

      <fieldset class="border">
        <div class="ml-4 pl-2 my-4">
          <%= render 'form', order: @order %>
        </div>
      </fieldset>
      <%= link_to 'Take Me Back', orders_path %>
    </div>
  </div>
</div>

<%= render "partials/footer" %>